<launch>
	<!-- URDF -->
	<arg name="fixed" default="false"/>
	<param name="robot_description" textfile="$(find darwin_description)/urdf/darwin_lab_fixed.urdf" 	if="$(arg fixed)"/>
	<param name="robot_description" textfile="$(find darwin_description)/urdf/darwin_lab.urdf" 			unless="$(arg fixed)"/>

	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model darwin_lab -z 0.3417" />

	<!-- ROBOT CONTROL -->
	<include file="$(find darwin_control)/launch/darwin_control.launch"/>
	<node name="darwin_walker" pkg="darwin_gazebo" type="walker.py" />

	<!-- GAZEBO -->
	<env name="GAZEBO_MODEL_PATH" value="$(find nimbro_op_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>
   	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="world_name" value="$(find nimbro_op_gazebo)/worlds/nimbro_op.world"/>
    	<arg name="paused" value="true"/>
  	</include>
	
	<group ns="hardware">
      <node name="gazebo_joint_reader" pkg="gazebo_joint_reader" type="darwin_gazebo_joint_reader" respawn="true"/>
      <node name="control_remapper" pkg="gazebo_control_remapper" type="darwin_gazebo_control_remapper" output="screen"/>
    </group>

	<!-- HRI -->
	<group ns="hri">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/config.rviz" required="true"/>
    </group>
	<node name="humanoid_gui" pkg="humanoid_gui" type="humanoid_gui" output="screen"/>

	<!-- YOLO_SIM -->
	<include file="$(find luckfox_vision)/launch/yolo_sim.launch" />

</launch>