#USB2Dynamixel
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", MODE="0666", SYMLINK+="SERVO_COMM", RUN+="/bin/sh -c 'echo 1 | sudo tee /sys/bus/usb-serial/devices/ttyUSB0/latency_timer'"
