<launch>

    <!-- _____________ HARDWARE  ___________________-->
    
    <!-- DYNAMIXEL CM730 -->
    <include file="$(find cm730)/launch/cm730.launch"/>

    <!-- IMU -->
    <include file="$(find imu)/launch/mpu6050_unfiltered.launch"/>

    <!-- LUCKFOX CAMERA LISTENER -->
    <node name="luckfox_client_node" pkg="luckfox_vision" type="luckfox_client_node"/>
    <node name="ProcessObject" pkg="img_to_cartesian" type="img_to_cartesian.py" output="screen"/>

    <!-- ROBOT STATE -->
    <param name="robot_description" command="cat $(find darwin_description)/urdf/darwin_lab.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <group ns="map">
        <node name = "map_node" pkg = "localization_robot" type = "map_node"/> 
    </group>


    <!-- _________________LOCOMOTION _____________________-->

    <!-- WALK SERVICE -->
    <include file="$(find darwin_gait)/launch/walk.launch"/>
    <include file="$(find step_test)/launch/getup/getup.launch"/>


</launch>
