<launch>
    
    <!-- ROBOT DESCRIPTION -->
    <param name="robot_description" command="cat $(find nimbro_op_model)/robots/simple_nimbro_op_hull.xml" />
    <param name="robot_description_semantic" textfile="$(find nimbro_op_srdf)/config/nimbro_op_hull.srdf" />
    
    <!-- INVERSE KINEMATICS -->
    <group ns="control">
        <rosparam command="load" file="$(find nimbro_op_srdf)/config/kinematics.yaml"/>
        <node name="inverse_kinematics" pkg="inverse_kinematics" type="ik_geometric_node.py" output="screen" required="true"/>
    </group>

    <!-- INVERSE KINEMATICS NODE -->e
    <node pkg="tests" type="test_lateral_lipm.py" name="traj_generator" output="screen" required="true">

    </node>
</launch>