<launch>
<arg name="darwin" default="false" />
    <node name="getup_server" pkg="step_test" type="get_up_service.py" output="screen">
        <param name="path" value="$(find step_test)/scripts/getup/poses/back/darwin" if="$(arg darwin)"/>
        <param name="path" value="$(find step_test)/scripts/getup/poses/back" unless="$(arg darwin)"/>
    </node>
    <!-- <node pkg="step_test" type="test_service.py" name="getup" output="screen" required="true"> 
    </node> -->
    <include file="$(find cm730)/launch/cm730.launch"/>
</launch>
