<launch>
    <param name="robot_description" command="cat $(find nimbro_op_model)/robots/simple_nimbro_op_hull.xml" />
    <param name="robot_description_semantic" textfile="$(find nimbro_op_srdf)/config/nimbro_op_hull.srdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <group ns="hardware">
        <node name="gazebo_joint_reader" pkg="gazebo_joint_reader" type="gazebo_joint_reader_node" output="screen"/>
    </group>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find nimbro_op_gazebo)/worlds/nimbro_op.world"/>
        <arg name="paused" value="true" />
    </include>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model nimbro_op -x -1.0 -y 0.0 -z 0.6" />
</launch>
