<launch>
    <param name="robot_description" command="cat $(find nimbro_op_model)/robots/simple_nimbro_op_hull.xml" />
    <param name="robot_description_semantic" textfile="$(find nimbro_op_srdf)/config/nimbro_op_hull.srdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <group ns="hardware">
        <node name="head" pkg="head" type="head_simul_node" output="screen"/>
	<node name="arms" pkg="arms" type="arms_simul_node" output="screen"/>
	<node name="legs" pkg="legs" type="legs_simul_node" output="screen"/>
    </group>

    <group ns="hri">
	<node name="humanoid_gui" pkg="humanoid_gui_simul" type="humanoid_gui_simul" output="screen"/>
    </group>

    <group ns="control">
        <rosparam command="load" file="$(find nimbro_op_srdf)/config/kinematics.yaml"/>
        <node name="inverse_kinematics" pkg="inverse_kinematics" type="ik_moveit_node" output="screen"/>
    </group>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find nimbro_op_gazebo)/worlds/nimbro_op.world"/>
        <arg name="paused" value="true" />
    </include>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model nimbro_op -x -1.0 -y 0.0 -z 0.6" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find nimbro_op_gazebo)/config/controllers.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	  output="screen" ns="/nimbro"
	  args="
		right_hip_yaw_position_controller
		right_hip_roll_position_controller
		right_hip_pitch_position_controller
		right_knee_pitch_position_controller
		right_ankle_pitch_position_controller
		right_ankle_roll_position_controller
                
		left_hip_yaw_position_controller
		left_hip_roll_position_controller
		left_hip_pitch_position_controller
		left_knee_pitch_position_controller
		left_ankle_pitch_position_controller
		left_ankle_roll_position_controller
                
		right_shoulder_pitch_position_controller
		right_shoulder_roll_position_controller
		right_elbow_pitch_position_controller
                
		left_shoulder_pitch_position_controller
		left_shoulder_roll_position_controller
		left_elbow_pitch_position_controller
                
		neck_yaw_position_controller
		head_pitch_position_controller
                
		joint_state_controller
		"
          />
</launch>
