<launch>
    <include file="$(find surge_et_ambula)/launch/humanoid_hardware_simul.launch"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find nimbro_op_gazebo)/models/" />
    <group ns="hri">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find config_files)/rviz/config.rviz" required="true"/>
	<node name="humanoid_gui" pkg="humanoid_gui" type="humanoid_gui" output="screen"/>
    </group>

    <group ns="control">
        <rosparam command="load" file="$(find nimbro_op_srdf)/config/kinematics.yaml"/>
        <node name="inverse_kinematics" pkg="inverse_kinematics" type="ik_moveit_node" output="screen"/>
    </group>
    
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find nimbro_op_gazebo)/config/controllers.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	  output="screen" ns="/nimbro"
	  args="
		right_hip_yaw_position_controller
		right_hip_roll_position_controller
		right_hip_pitch_position_controller
		right_knee_pitch_position_controller
		right_ankle_pitch_position_controller
		right_ankle_roll_position_controller
                
		left_hip_yaw_position_controller
		left_hip_roll_position_controller
		left_hip_pitch_position_controller
		left_knee_pitch_position_controller
		left_ankle_pitch_position_controller
		left_ankle_roll_position_controller
                
		right_shoulder_pitch_position_controller
		right_shoulder_roll_position_controller
		right_elbow_pitch_position_controller    
                
		left_shoulder_pitch_position_controller
		left_shoulder_roll_position_controller
		left_elbow_pitch_position_controller    
                
		neck_yaw_position_controller
		head_pitch_position_controller
                
		joint_state_controller
		"
          />
  
	  <!-- Nodes for vision-->
	<node name="get_ball_position_node" pkg="get_ball_position" type="get_ball_position_node"/>
	<node name="get_ball_velocity_node" pkg="get_ball_velocity" type="get_ball_velocity_node"/>
</launch>
