<launch>
    <node name = "camera_video_publisher" pkg = "camera" type = "camera_video_publisher.py" output="screen"/> 
    <!-- <include file="$(find surge_et_ambula)/launch/humanoid_simul.launch"/> -->
    <node name="test_node_goal_detection" pkg="goal_detection" type="ball_detection_node.py" output="screen"/>
    <node name="test_node_head_position" pkg="goal_detection" type="head_goal_ball_position_node.py" output="screen" required="true"/>
</launch>
